body{
    background-image: url(../images/wallpaper4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.shop-container{
    border: solid white;
    background-color: white;
    opacity: 80%;
    width: 1500px;
    height: 900px;
    
   
}

.tittle{
    display: flex;

    justify-content: space-between;
}


